* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

:root{
    --naples-yellow: #FFD76Eff;
    --indian-red: #F3565Fff;
    --fandango: #A1207Fff;
    --green-blue: #2363B3ff;
    --moonstone: #00A5C0ff;
    --emerald: #6BBB7Dff;

    --ash-gray: #A3A39Bff;
    --charcoal: #353B4Fff;
    --powder-blue: #95A7C4ff;
    --powder-blue-2: #BBD0ECff;
    --dim-gray: #72685Bff;
}

body{
    content: "";
    background: url('media/background.png');
    /* opacity: 0.9; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    /* background-repeat: no-repeat;
    background-attachment: fixed; */
    background-size: 100%;
}

/* body::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.466);
} */

.navbar{
    background-color: var(--dim-gray);
    /* z-index: 1; */
}

.isi{
    /* z-index: 1; */
    background-color:  #ffffffcc;
}

.navbar-nav{
    /* background-color: red; */
    width: 30%;
    justify-content: space-between;
}

.nav-link{
    color: white;
    /* background-color: red; */
}

.container{
    gap: 50px;
}


.profileImg1{
    width: 600px;
}

#Home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    padding-top: 200px;
    gap: 200px;
}

.atas{
    /* background-color: blue; */
    /* padding-top: 300px; */
}

.Text1{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    border: var(--ash-gray);
    width: 100%; */
    color: rgb(48, 50, 56);
    /* padding: 50px; */
}

.border-bottom{
    border-color: var(--dim-gray);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 100px;
    /* background-color: #2196F3; */
    padding: 50px;
    align-content: center;
    margin-bottom: 150px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 30px;
}

.grid-content{
    align-items: center;
}

#About{
    padding-top: 225px;
    margin-top: 100px;
    text-align: center;
    width: 100%;
    /* background-color: red; */
}

.carousel{
    margin-top: 300px;
    /* width: 80%; */
    /* padding-left: auto;
    padding-right: auto; */
}

.carousel-control-prev{
    /* background-color: red; */
}

.skill-title{
    padding-bottom: 50px;
}

.aboutTitle{
    margin-bottom: 100px;
}

.font{
    font-family: 'Poppins';
}

.and{
    /* background-color: red; */
    text-align: center;
    margin-top: 350px;
}

.and2{
    text-align: center;
}

.icon{
    width: 70px;
}

#Contact{
    margin-top: 300px;
    background-color: var(--dim-gray);
    padding: 50px 0px;
}

.icon2{
    width: 30px;
}

.contactInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rebeccapurple; */
}

.infoDetail{
    display: flex;
    flex-direction: row;
    width: fit-content;
    color: white;
    gap: 10px;
    /* background-color: yellow; */
    justify-content: center;
    /* align-items: center; */
}

.infoDetail2{
    display: flex;
    flex-direction: row;
    /* width: fit-content; */
    color: white;
    /* background-color: red; */
    align-items: center;
    gap: 10px;
}

.infoDetail2 p {
    padding: 0;
    margin: 0;
}

.infoDetail p {
    padding: 0;
    margin: 0;
}

.sosmed h4{
    color: white;
    text-align: center;
}

.sosmed{
    margin-top: 50px;
}

.sosmedIcon{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.fa:hover {
    opacity: 0.7;
}

ion-icon {
    font-size: 45px;
    color: white;
}

.timeline {
    border-left: 3px solid var(--dim-gray);
    /* border-bottom-right-radius: 4px;
    border-top-right-radius: 4px; */
    /* background: var(--ash-gray); */
    margin: 0 auto;
    /* letter-spacing: 0.2px; */
    position: relative;
    /* line-height: 1.4em; */
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    /* max-width: 40%; */
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.card-title{
    padding: 50px 0px 50px 0px;
}

.timeline .event {
    border-bottom: 1px dashed var(--ash-gray);
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

@media (max-width: 767px) {
    .timeline .event {
        padding-top: 30px;
    }

    .timeline {
        max-width: 98%;
        padding: 25px;
    }

    .timeline .event:before {
        left: 0px;
        text-align: left;
    }

    .timeline .event:after {
        left: -31.8px;
    }
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}

.timeline .event:after {
    /* -webkit-box-shadow: 0 0 0 3px #727cf5; */
    box-shadow: 0 0 0 3px var(--ash-gray);
    left: -55.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

/* .typing::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: var(--charcoal);
    animation: cursorBlink 0.8s steps(3) infinite;
}

@keyframes cursorBlink {

    0%,
    75% {
        opacity: 1;
    }

    76%,
    100% {
        opacity: 0;
    }
}

.typing {
    position: relative;
}

.typing h2 {
    position: relative;
    color: var(--charcoal);
    letter-spacing: 5px;
    font-size: 4rem;
    overflow: hidden;
    margin-bottom: 0;
    animation: type 5s steps(11) infinite;
}

@keyframes type {

    0%,
    100% {
        width: 0px;
    }

    30%,
    60% {
        width: 394.09px;
    }
} */

@media(max-width: 1000px){
    .grid-content p{
        font-size: 3vw;
    }

    .icon{
        width: 7vw;
    }
}